<header>
  <div>
    <mat-toolbar>
      <mat-icon class="text-muted">home</mat-icon> &nbsp; / &nbsp;
      <p><a style="text-decoration:none; color: inherit;" href="#" class="text-muted">EMPRESAS</a></p> &nbsp; / &nbsp;
      <p><a style="text-decoration:none;" href="#" class="text-info">NOMBRE EMPRESAS</a></p>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</header>
<content>
  <div class="row m-4">
      <div class="col-4 business-elements m-3">
          <h4 style="text-align: left;"><b>INFORMACION DE LA EMPRESA</b> </h4>
          <p>
              <b>Nombre</b>  <br> Quipux S.A.S
          <br> 
          <br> 
              <b> Fecha de creación </b> <br> 1995/05/06
          <br>
          <br>
              <b>Dirección</b> <br> Carrera 43A No. 3 Sur-130 <br> Ed. Milla de Oro <br> Distrito de negocios Torre 1 <br> piso 12
          <br>
          <br>
              Medellín - Colombia
          <br>
          <br>
              <b>Número de teléfonos</b> 
          <br>
          <br>
              Fijo <br> +57 (4) 313-70-00 
          <br>
              Celular <br> (312) 313-44-77
          <br>
          <br>
              <b>Sitio Web</b> <br> <a style="text-decoration: none;" href="#">www.quipux.com/site</a>

      </p>
  </div>
      <div class="col-7 m-3">
        <div class="d-flex flex-row">
          <div class="p-2">
            <p>
              <b>Dirección</b> <br> Carrera 52 # 91-66 <br> Medellín Colombia
            <br>
            <br>
              <b>Correo electrónico</b> <br> 
              <a style="text-decoration: none; color: inherit;" href="#">usuarioapellido@hotmail.com</a> 
            <br>
            <br>
            <b>Sitio Web</b> <br> <a style="text-decoration: none;" href="#">www.usuarioapellido.com</a>
            <br>
            <br>
            <b>Red social</b> <br> 
              <a style="text-decoration: none; color: inherit;" href="#">www.istagram.com/usuarioapellido</a>
            <br>
              <a style="text-decoration: none; color: inherit;" href="#">www.linkedin.com/usuarioapellido</a>
            </p>
          </div>
          <div class="p-2">
            <p>
              <b>Dirección de correspondencia de correo</b> <br> Carrera 52 # 91-66 <br> Envigado Colombia
            <br>
            <br>
              <b>Número de télefonos</b> 
            <br> 
              Fijo <br> +57 (4) 313-70-00
            <br>
              Celular <br> (312)313-44-77
            </p>
          </div>
        </div>
    </div>
    </div>
</content>
