<div class="content">
  <div class="row m-4">
    <div class="col-7">
      <h1>¿Que quieres buscar?</h1>
      <p>encuentra la informacion que desees consultar ...</p>
    </div>
    <div class="col-4">
      <img src="../../../../assets/resource-1.png" alt="" style="height: 350px; width: 400px;">
      <p><span style="color: blue; font-size: 20px;">Trámites en tu mano </span><br>
        Ahora podrás hacer todos tus tramites desde la comodidad de tu casa, desde cualquier
        dispositivo computadora, tablet o móvil.
      </p>
    </div>
  </div>