<header>
    <div class="content">
      <mat-toolbar>
        <mat-icon class="text-muted">home</mat-icon> &nbsp; / &nbsp;
        <p><a style="text-decoration:none; color: inherit;" href="#" class="text-muted">EMPRESAS</a></p> &nbsp; / &nbsp;
        <p><a style="text-decoration:none; color: inherit;" href="#" class="text-info">ARTÍCULO</a></p>
  
  
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </header>
  <content>
    <div class="row m-4">
        <div class="col-4 article-elements m-3">
            <h4 style="text-align: left;">INFORMACION DEL CONTACTO</h4>
            <p>
                Dirección <br> Carrera 52 # 91-66 <br> Medellin Colombia
            <br>
            <br>
                Correo electrónico <br> <a style="text-decoration: none;" href="#">usuarioapellido@hotmail.com</a>
            <br>
            <br>
                Red Social <br> 
                <a style="text-decoration: none;" href="#">www.instagram.com/usuarioapellido</a>
            <br>
                <a style="text-decoration: none;" href="#">www.linkedin.com/usuarioapellido</a>
            <br>
            <br>
                Dirección de correspondencia de correo <br> Carrera 52 # 91-66 <br> Envigado Colombia
            <br>
            <br>
                Número de teléfonos 
            <br> 
                Fijo <br> +57 (4) 313-70-00 
            <br>
                Celular <br> (312) 313-44-77
        </p>
    </div>
        <div class="col-7 m-3">
            <div class="card mb-2 box-shadow">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="first-slide" src="https://img.icons8.com/material-outlined/24/000000/image.png" alt="First slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only"></span>
                    </a>
                  </div>
            </div>
            <div class="card mb-2 box-shadow">
              
            </div>
          </div>
      </div>
  </content>
  